<!DOCTYPE html>
html(lang="en")
    head
        title setlup
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="./style.css")
    body
        textarea(placeholder="gary spent 45 for gary, mark, chris\nfred spent 10").
            gary spent 45 for gary, mark, chris
            fred spent 10
        div#results
        script(src="./index.js")
